# Define your disable/enable variable (e.g., from a ENV_VARIABLE)
# Default to 0 (normal split) if the disable flag isn't present
map ${GRADUAL_MIGRATION} $split_mode {
    default                             0;
    "~*false"                           0; # 0 percents means bypass the split and go to the default version
    "~*true"                            1;
}

# Map the mode to your split target
map $split_mode $movies_upstream {
    default     "movies_monolith";
    0           "movies_monolith";    # Override/fallback route
    1           $split_movies_backend;  # Normal route (uses the split_clients below)
}

# Standard split_clients for normal traffic
split_clients "${remote_addr}" $split_movies_backend {
    ${MOVIES_MIGRATION_PERCENT}%     "movies_ms";
    *                                "movies_monolith";
}


upstream movies_monolith {
    server ${MONOLITH_DOMAIN}:${MONOLITH_PORT};
}

upstream movies_ms {
    server ${MOVIES_SERVICE_DOMAIN}:${MOVIES_SERVICE_PORT};
}

log_format movies_monolith '$remote_addr - $upstream_addr - $request - $upstream_response_time - $request_time';
log_format movies_ms '$remote_addr - $upstream_addr - $request - $upstream_response_time - $request_time';
access_log /var/log/nginx/upstream_movies_monolith.log movies_monolith;
access_log /var/log/nginx/upstream_movies_ms.log movies_ms;

server {
    resolver kube-dns.kube-system.svc.cluster.local valid=5s ipv6=off;
    
    listen 0.0.0.0:80;

    location /health {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status":"true"}';
    }

    location /api/movies {
        proxy_pass http://$movies_upstream$uri$is_args$args;
    }

    location /api/payments {
        proxy_pass ${MONOLITH_URL}/api/payments;
    }

    location /api/subscriptions {
        proxy_pass ${MONOLITH_URL}$uri$is_args$args;
    }

    location /api/users {
        proxy_pass ${MONOLITH_URL}$uri$is_args$args;
    }

    location /api/events/movie {
        proxy_pass ${EVENTS_SERVICE_URL}/api/events/movie;
    }

    location /api/events/user {
        proxy_pass ${EVENTS_SERVICE_URL}/api/events/user;
    }

    location /api/events/payment {
        proxy_pass ${EVENTS_SERVICE_URL}/api/events/payment;
    }

    location /api/events/health {
        proxy_pass ${EVENTS_SERVICE_URL}/api/events/health;
    }
}